@use 'base/variables' as v;
@use 'base/mixins' as m;


.tabla{
    border-collapse: collapse;
    width: 100rem;
    margin: 1rem 2rem;

    th, td {
        border: 1px solid v.$negro;
        padding: 8px;
        text-align: left;
      }

    th{
        background-color: v.$azulOscuro;
        color: v.$blanco;
    }

    input {
        width: 90%;
        padding: 5px;
        margin-top: 5px;
        box-sizing: border-box;
        font-size: 1rem;
      }
}